# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = MarvinAmari
	email = contact@marvinamari.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta --line-numbers --dark

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[alias]
  dft = difftool
  differ = "!nvim -c DiffviewOpen"

[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[mergetool "nvimdiff"]
    keepBackup = false
    prompt = false
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[pager]
    difftool = true


# User different gitconfig based on directory
[includeIf "gitdir:~/company/"]
    path = .gitconfig-company
