# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = MarvinAmari
	email = contact@marvinamari.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta --line-numbers --dark

[interactive]
    diffFilter = delta --color-only

[alias]
  differ = "!nvim -c DiffviewOpen"

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
	cmd = nvim "$LOCAL" "$REMOTE"
[mergetool "nvimdiff"]
    cmd = nvim -f -d -c "\"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\""
   keepBackup = false
   prompt = false
[merge]
	tool = nvimdiff
	conflictstyle = diff3

# User different gitconfig based on directory
[includeIf "gitdir:~/company/"]
    path = .gitconfig-company
