# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = MarvinAmari
	email = contact@marvinamari.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta --line-numbers --dark

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool "nvimdiff"]
    keepBackup = false
    prompt = false
    cmd = nvim -d -c "\"wincmd l\" -c\"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[diff]
    colorMoved = default

[difftool "nvimdiff"]
    trustExitCode = false

